
<header>
    <nav class="text-center">
      <ul class="inline-block">
        <li class="pull-left active"><a routerLink="/home" data-direction="front" routerLinkActive="active">Home</a></li>
        <li class="pull-left"><a routerLink="#" data-direction="back">Profile</a></li>
        <li class="pull-left"><a routerLink="/take" data-direction="top">Take Quiz</a></li>
        <li class="pull-left"><a routerLink="/host" data-direction="right">Host Quiz</a></li>
        <div class="clearfix"></div>
      </ul>
    </nav>
  </header>